extends layout

block content
    .my-3.my-md-5 
        .container
            h1 Admin Page
            != messages('message',locals)
            .row
                .col-md-2
                    .row    
                        .col-md-12
                            .card
                                .card-body.p-3.text-center
                                    .h1.m-0= total_users
                                    .text-muted.mb-4 Total Number of Lecturers
                        .col-md-12
                            .card
                                .card-body.p-3.text-center
                                    .h1.m-0= total_courses
                                    .text-muted.mb-4 Total Number of Courses
                        .col-md-12
                            .card
                                .card-header
                                    h3.card-title Reset Courses
                                .card-alert.alert.alert-warning.mb-0
                                    | This action is not reversable
                                .card-body.text-muted.font-italic
                                    | This will clear all the courses assigned to all users.
                                .card-footer.text-center
                                    button.btn.btn-dark.btn-sm(type='button', data-toggle='modal', data-target='#exampleModal')
                                        | Reset
                                   
                                
                .col-md-5
                    .row
                        .col-md-12
                            form.card(method="POST", action="/users/register")
                                    .card-body
                                        h3.card-title Add User
                                        .row
                                            .col-md-6
                                                    .form-group
                                                        label.form-label First Name
                                                        input.form-control(name='firstName', type='text', placeholder='Enter your First Name')
                                            .col-md-6
                                                    .form-group
                                                        label.form-label Last Name 
                                                        input.form-control(name='lastName', type='text', placeholder='Enter your Last Name')
                                            .col-md-12
                                                    .form-group
                                                        label.form-label Email Address
                                                        input.form-control(name='email', type='email', placeholder='Email')
                                            .col-md-6
                                                    .form-group
                                                        label.form-label Password
                                                        input.form-control(name='password', type='password', placeholder='Enter current password')
                                            .col-md-6
                                                    .form-group
                                                        label.form-label Confirm Password
                                                        input.form-control(name='password2', type='password', placeholder='Confirm password', )
                                    .card-footer.d-flex
                                        button.btn.btn-danger(type='reset') Cancel
                                        button.btn.btn-success.ml-auto(type='submit') Add User
                                        
                        .col-md-12
                            .card
                                .card-header
                                    h3.card-title Users' List
                                .card-body.o-auto(style='height: 15rem')
                                    ul.list-unstyled.list-separated
                                        each user,i in users
                                            li.list-separated-item
                                                .row.align-items-center
                                                    .col-auto
                                                        span.avatar.avatar-md.d-block(style='background-image: url(/vendor/images/user1.png)')
                                                    .col
                                                        div
                                                                a.text-inherit.text-capitalize(href='javascript:void(0)')= user.name.lastName + ' ' + user.name.firstName
                                                        small.d-block.item-except.text-sm.text-muted.h-1x= user.email
                                                    .col-auto
                                                        .item-action.dropdown
                                                                a.icon(href='javascript:void(0)', data-toggle='dropdown')
                                                                    i.fe.fe-more-vertical
                                                                .dropdown-menu.dropdown-menu-right
                                                                    a.dropdown-item(href="/users/edit/"+user._id)
                                                                        i.dropdown-icon.fe.fe-edit
                                                                        |  Update
                                                                    a.dropdown-item.delete-user(href='#', data-id=user._id)
                                                                        i.dropdown-icon.fe.fe-trash
                                                                        |  Delete

                .col-md-5
                    .row
                        .col-md-12
                            form.card(method="POST", action="/courses/register")
                                .card-body
                                    h3.card-title Add Course
                                    .row
                                        .col-md-4
                                                .form-group
                                                    label.form-label  Code 
                                                    input.form-control(name='code', type='text', placeholder='CSIT 101')
                                        .col-md-8
                                                .form-group
                                                    label.form-label  Title
                                                    input.form-control(name='title', type='text', placeholder='Introduction to Computing')
                                        .col-md-4
                                                .form-group
                                                    label.form-label Duration
                                                    select.form-control(name="duration")
                                                        option(value="" selected='') Choose...
                                                        option(value="2 Hours") 2 Hours
                                                        option(value="1 Hours") 1 Hour 
                                        .col-md-4
                                                .form-group
                                                    label.form-label Time
                                                    .input-group.clockpicker(data-placement="right" data-align="top" data-autoclose="true")
                                                        input.form-control(type='text', value='now', name='time')
                                                        span.input-group-append
                                                            span.input-group-text.fe.fe-watch
                                                    
                                        .col-md-4
                                                .form-group
                                                    label.form-label Day
                                                    select.form-control(name="day")
                                                        option(value="") Choose...
                                                        option(value=1) Monday
                                                        option(value=2) Tuesday 
                                                        option(value=3) Wednesday 
                                                        option(value=4) Thursday 
                                                        option(value=5) Friday 
                                        .col-md-12
                                                .form-group
                                                    label.form-label Venue
                                                    select.form-control(name="venue")
                                                        option(value="") Choose...
                                                        option(value="Software Lab") Software Lab
                                                        option(value="Chinese Lab") Chinese Lab
                                                        option(value="Hardware Lab") Hardware Lab
                                .card-footer.text-center
                                    button.btn.btn-success(type='submit') Add Course
                        .col-lg-12
                            .card(style='height: 19rem')
                                .card-header
                                    h3.card-title Courses' List
                                .table-responsive
                                    table.table.card-table.table-striped.table-vcenter
                                            thead
                                                tr
                                                    th Code
                                                    th Title
                                                    th(colspan='1') Action
                                            tbody
                                                each course, i in courses
                                                    tr
                                                        td= course.code
                                                        td= course.title
                                                        td.w-1.text-center
                                                            a.icon(href='/courses/edit_course/'+ course._id)
                                                                i.fe.fe-edit
            .col-lg-12
                .table-responsive
                    form.form.card(method="POST", action="/users/add_courses")
                         .card-body
                            h3.card-title Assign Course

                            .alert.alert-icon.alert-warning(role='alert')
                                i.fe.fe-alert-triangle.mr-2(aria-hidden='true')
                                |  Disabled courses have already been assigned to a user.

                            .row
                                .col-md-12
                                    .form-group
                                        label.form-label Select User
                                        select#select-beast.form-control.custom-select(name='user')
                                            each user,i in users
                                                option(value= user._id)= user.name.firstName +" "+ user.name.lastName

                            table.table.card-table.table-vcenter.table-striped
                                thead.text-muted.text-uppercase
                                    tr
                                        td.w-1 Add
                                        td Course Code
                                        td course Title
                                        td Day
                                        td Duration
                                        td Time
                                        td Venue
                                tbody
                                    each course,i in courses
                                        tr.h-8
                                            td
                                                -var state = course.assigned
                                                label.custom-control.custom-checkbox
                                                    input.custom-control-input(type='checkbox', name='selected', value= course._id, disabled=(state !== null ? true : false), checked=(state !== null ? true : false))
                                                    span.custom-control-label 
                                            td 
                                                strong= course.code
                                            td 
                                                strong= course.title
                                            case (course.day)
                                                when 1
                                                    td Monday
                                                when 2
                                                    td Tuesday
                                                when 3
                                                    td Wednesday
                                                when 4
                                                    td Thursday
                                                when 5
                                                    td Friday
                                                default 
                                                    td No day
                                            td.text-muted= course.duration
                                            td.text-muted= course.time
                                            td= course.venue
                            .card-footer.text-center
                                button.btn.btn-success.ml-auto(type='submit') Submit Selection
                             
            //- Modal
            #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                .modal-dialog.modal-sm(role='document')
                    .modal-content
                        .modal-header
                            h5#exampleModalLabel.modal-title Reset Courses
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') 
                        .modal-body
                            .alert.alert-icon.alert-danger(role='alert')
                                i.fe.fe-alert-triangle.mr-2(aria-hidden='true')
                                |  This action is not reversable. All courses assigned to users will be deleted.Do you want to proceed ?
                                
                                
                        .modal-footer
                            form(method="POST", action="/courses/reset_courses",id="reset-courses")
                                button.btn.btn-warning.btn-sm(type='submit') 
                                    i.fe.fe-refresh-ccw.mr-2 
                                    |   RESET
                            button.btn.btn-dark.btn-sm(type='button', data-dismiss='modal') Close

