extends layout

block content 
    .my-3.my-md-5   
        .container  
            .page-header
                .page-title
                    h1 Attendance Session
                    
            != messages('message',locals)
            .row
                .col-12
                    .card.p-3
                        .d-flex.align-items-center
                            .stamp.stamp-md.bg-blue.mr-3
                                i.fe.fe-paperclip
                            div.text-left.col-md-9
                                h4.m-0
                                    div= course.code
                                    small= course.title
                            div.text-right.col-md-2
                                h4.m-0
                                    small= today
            .row.row-cards
                .col-md-4
                    .card
                        .card-body.p-3.text-center
                            .text-right
                                a.btn.btn-sm.btn-rounded.btn-teal(href="#") view
                                    i.fe.fe-external-link
                            .h-2
                            .h1.m-0 43
                            .text-muted.mb-4 Total number of students
                .col-md-4
                    .card
                        .card-body.p-3.text-center
                            .text-right
                                a.btn.btn-sm.btn-rounded.btn-teal(href="#") view
                                    i.fe.fe-external-link
                            .h-2
                            .h1.m-0 43
                            .text-muted.mb-4 Students present
                .col-md-4
                    .card
                        .card-status.card-status-left.bg-red
                        .card-body.p-3.text-center
                            .text-right
                                a.btn.btn-sm.btn-rounded.btn-teal(href="#") view
                                    i.fe.fe-external-link
                            .h-2
                            .h1.m-0 43
                            .text-muted.mb-4 Students absent


                .col-lg-12
                    .card
                        .card-header
                            h3.card-title Attendance Statistics
                        .table-responsive
                            table.table.card-table.table-striped.table-vcenter
                                thread
                                    tr 
                                        th Student ID
                                        th Name
                                        th Current Status 
                                tbody
                                    each student,i in students
                                        tr
                                            td= student.id
                                            td= student.name.lastName + " " + student.name.firstName
                                            td 
                                                span.status-icon.bg-danger
                                                |  not signed
            