extends layout

block content
    //- script.
    //-     $(document).ready(function(){
    //-         $("#enableView").click(function(){
    //-             $("#view").removeClass("disabled");
    //-         });
    //-     });

    .my-3.my-md-5   
        .container  
            .page-header
                .page-title
                    h1 Dashboard
                
            != messages('message',locals)

            .col-md-12
                .card(class=(new Date().getDay() == 0 || new Date().getDay() == 6 ? "   card-collapsed" : undefined))
                    .card-status.bg-yellow
                    .card-header
                        h3.card-title Courses for Today
                        .card-options
                                a.card-options-collapse(href='#', data-toggle='card-collapse')
                                    i.fe.fe-chevron-up
                                a.card-options-remove(href='#', data-toggle='card-remove')
                                    i.fe.fe-x
                    .card-body
                        .col-12
                            .table-responsive
                                    table.table.card-table.table-vcenter.text-nowrap
                                            thead
                                                tr
                                                    th Code
                                                    th Title
                                                    th Duration
                                                    th time
                                                    th Venue
                                                    th
                                            tbody
                                            each course,i in courses
                                                if (new Date().getDay() == course.day)
                                                    tr
                                                        td= course.code
                                                        td= course.title
                                                        td= course.duration
                                                        td= course.time
                                                        td= course.venue
                                                        td.text-right
                                                            .btn-list.text-center
                                                                form(action="/courses/attendance_session/"+course._id, method="post")
                                                                    button.btn.btn-warning.btn-sm.btn-square(type='submit')
                                                                        i.fe.fe-check-circle.mr-2
                                                                        | Authorize
                                                                        
                                                                    a.btn.btn-dark.btn-sm.btn-square(type='button',href="/courses/attendance_session/"+course._id)
                                                                        i.fe.fe-eye.mr-2
                                                                        | view






            .card.p-3
                .d-flex.align-items-center
                    .stamp.stamp-md.bg-green.mr-3
                        i.fe.fe-list
                    div
                        h4.m-0
                        |    Assigned Courses
            .row
                each course,i in courses
                    .col-md-4
                            .card.card-aside
                                a.card-aside-column.code(style='background-color: cyan')= course.code
                                .card-body.d-flex.flex-column
                                    h5= course.title
                                    .text-muted
                                        i.fe.fe-map-pin
                                        span=   course.venue 
                                        br
                                        i.fe.fe-watch
                                        span=   course.duration
                                        span.ml-4
                                        i.fe.fe-calendar
                                        case (course.day)
                                            when 1
                                                span Monday
                                            when 2
                                                span Tuesday
                                            when 3
                                                span Wednesday
                                            when 4
                                                span Thursday
                                            when 5
                                                span Friday
                                            default 
                                                span Not defined
                                            
            
