extends layout

block content
    .my-3.my-md-5   
        .container  
            .page-header
                .page-title
                    h1 Dashboard
            .row
                .col-sm-6.col-lg-5
                    .card.p-3
                        .d-flex.align-items-center
                            .stamp.stamp-md.bg-red.mr-3
                                i.fe.fe-file
                            div
                                h4.m-0
                                    small Available Lectures
                                    |   today 
                                small.text-muted 21/02/2019

                    each course,i in courses
                        .col-lg-12
                            .card.card-aside
                                a.card-aside-column.code(href="/courses/"+course._id style='background-color: cyan')= course.code
                                .card-body.d-flex.flex-column
                                    h5
                                        a(href="/courses/"+course._id)= course.title
                                    .text-muted.row

                                        .text-center
                                            i.fe.fe-map-pin
                                            span=   course.venue
                                        .ml-4
                                            i.fe.fe-watch
                                            span=   course.duration
            

                .col-sm-6.col-lg-7
                    .card.p-3
                        .d-flex.align-items-center
                            .stamp.stamp-md.bg-yellow.mr-3
                                i.fe.fe-list
                            div
                                h4.m-0
                                    small Available Lectures
                                    |   for the week
                    .card
                        .card-status.bg-blue
                        .card-header
                            h3.card-title Monday
                            .card-options
                                    a.card-options-collapse(href='#', data-toggle='card-collapse')
                                        i.fe.fe-chevron-up
                                    a.card-options-remove(href='#', data-toggle='card-remove')
                                        i.fe.fe-x
                        .card-body
                            .table-responsive
                                table.table.card-table.table-striped.table-vcenter
                                    thead
                                        tr
                                            th Code 
                                            th Course Title
                                            th Duration
                                            th Time
                                    tbody
                                        each course,i in courses
                                            -if(course.day === 'Monday')
                                                tr
                                                    td= course.code
                                                    td= course.title
                                                    td= course.duration
                                                    td= course.time
                                                        
                    .card
                        .card-status.bg-yellow
                        .card-header
                            h3.card-title Tuesday
                            .card-options
                                    a.card-options-collapse(href='#', data-toggle='card-collapse')
                                        i.fe.fe-chevron-up
                                    a.card-options-remove(href='#', data-toggle='card-remove')
                                        i.fe.fe-x
                        .card-body
                            .table-responsive
                                table.table.card-table.table-striped.table-vcenter
                                    thead
                                        tr
                                            th Code 
                                            th Course Title
                                            th Duration
                                            th Time
                                    tbody
                                        each course,i in courses
                                            -if(course.day === 'Tuesday')
                                                tr
                                                    td= course.code
                                                    td= course.title
                                                    td= course.duration
                                                    td= course.time 
                                       


