extends layout

block content
    .my-3.my-md-5
        .container
            != messages('message',locals)
            .row
                .col-lg-4
                    .row
                        .col-lg-12
                            .card.card-profile
                                .card-header(style='background-image: url(/vendor/images/bg1.jpg);')
                                .card-body.text-center
                                    img.card-profile-img(src='/vendor/images/user1.png')
                                    h3.mb-2.text-capitalize= user.name.firstName +" "+ user.name.lastName
                                    p.mb-2.text-muted= user.email

                        .col-lg-12
                            .form-group
                                label.form-label Assigned Courses
                                each course, i in courses
                                    .selectgroup.selectgroup-pills
                                        label.selectgroup-item
                                            input.selectgroup-input(type='checkbox')
                                            span.selectgroup-button= course.code +" - "+ course.title

                
                .col-lg-5
                    form.card(method="POST", id="editProfileForm", action="/users/edit_profile/"+ user._id)
                        .card-body
                            h3.card-title Edit Profile
                            .row
                                .col-md-6
                                        .form-group
                                            label.form-label FirstName
                                            input.form-control(type='text', name="firstName" value=user.name.firstName)
                                .col-md-6
                                        .form-group
                                            label.form-label LastName
                                            input.form-control(type='text', name="lastName" value=user.name.lastName)
                                .col-md-12
                                        .form-group
                                            label.form-label Email Address
                                            input.form-control(type='email', name="email" value=user.email)
                                .col-md-12
                                    .form-group
                                        label.form-label Update Password
                                        button.btn.btn-azure(type="button" onclick="changePassword()")
                                            i.fe.fe-lock.mr-2 
                                            |   Change Password
                        .card-footer.text-right
                            button.btn.btn-warning(type='button' data-toggle='modal', data-target='#editprofile') Update Profile
                    script.
                        window.onload = function() {
                            document.getElementById('changePassword').style.display = 'none';
                        };
                        function changePassword() {
                            var x = document.getElementById("changePassword");
                                if (x.style.display === "none") {
                                    x.style.display = "block";
                                } else {
                                    x.style.display = "none";
                                }
                            } 
                .col-lg-3(id="changePassword")
                    form.card(method="POST", id="updatePasswordForm", action="/users/update_password/"+ user._id)
                        .card-body
                            h3.card-title Change Password
                            .row
                                .col-md-12
                                    .form-group
                                        label.form-label Current Password
                                        .input-group
                                            span#basic-addon1.input-group-prepend
                                                span.input-group-text 
                                                    i.fe.fe-unlock
                                            input.form-control(type='password' name='currentPass' placeholder='current password')
                                .col-md-12
                                    .form-group
                                        label.form-label New Password
                                        .input-group
                                            span#basic-addon1.input-group-prepend
                                                span.input-group-text 
                                                    i.fe.fe-lock
                                            input.form-control(type='password' name='newPass' placeholder='New password')
                                .col-md-12
                                    .form-group
                                        label.form-label Confirm New Password
                                        .input-group
                                            span#basic-addon1.input-group-prepend
                                                span.input-group-text 
                                                    i.fe.fe-lock
                                            input.form-control(type='password' name='newPass2' placeholder='Confirm New password')

                        .card-footer.text-right
                            button.btn.btn-danger(type='button' data-toggle='modal', data-target='#updatePassword') Change Password


            //- Modal
            #editprofile.modal.fade(tabindex='-1', role='dialog', aria-labelledby='profileModal', aria-hidden='true')
                .modal-dialog.modal-sm(role='document')
                    .modal-content
                        .modal-header
                                h5#exampleModalLongTitle.modal-title Update Profile
                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    span(aria-hidden='true')
                        .modal-body
                            .alert.alert-warning(role='alert')
                                | You are about to update your profile. Changes are not revertable?
                        .modal-footer
                            .text-center
                                button.btn.btn-cyan(type='submit' form="editProfileForm") Agree

            //- Modal
            #updatePassword.modal.fade(tabindex='-1', role='dialog', aria-labelledby='profileModal', aria-hidden='true')
                .modal-dialog.modal-sm(role='document')
                    .modal-content
                        .modal-header
                                h5#exampleModalLongTitle.modal-title Update Profile
                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    span(aria-hidden='true')
                        .modal-body
                            .alert.alert-danger(role='alert')
                                | You are about to update your password. Changes are not revertable?
                        .modal-footer
                            .text-center
                                button.btn.btn-azure(type='submit' form="updatePasswordForm") Agree