extends layout

block content 
    .my-3.my-md-5   
        .container  
            .page-header
                .page-title
                    h1 Attendance Records
                    
            != messages('message',locals)
            .row
                .col-12
                    .card.p-3
                        .d-flex.align-items-center
                            .stamp.stamp-md.bg-blue.mr-3
                                i.fe.fe-paperclip
                            div.text-left.col-md-9
                                h4.m-0
                                    div= course.code
                                    small= course.title
                            div.text-right.col-md-2
                                h4.m-0
                                    small= today

                .col-lg-12
                    .card
                        .card-header
                            h3.card-title Students
                        .table-responsive
                            table.table.card-table.table-striped.table-vcenter
                                thread
                                    tr 
                                        th Student ID
                                        th Name
                                        th Email
                                        th
                                tbody
                                    each student,i in students
                                        tr
                                            td= student.studentId
                                            td= student.name.lastName + " " + student.name.firstName
                                            td= student.email
                                            td
                                                a.btn.btn-sm.btn-rounded.btn-cyan(href='/courses/students/report/' + student._id + '/?course_id=' + course._id)
                                                    i.fe.fe-file-text.mr-2
                                                    |   Records
            
